## Figures and Axes Drill


The dataset is looking at the size of a building's solar array (in kw) vs the size of the building (in sqft).
The data was obtained (and heavily modified) from: https://catalog.data.gov/dataset/solar-on-city-facilities

For this drill, make 2 charts one on top of the other. 

The top chart will be a histogram of the size of the solar array with requirements:
- Bins small enough to see the different size 
- Add a vertical line to show the mean of the size

The bottom chart will be a scatter plot of:
- Building size on the x-axis
- Solar array size on the y-axis

In [13]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

solar_df = pd.read_csv('Solar_on_city_facilities.csv')
solar_df.head()

   Solar_kW  Bldg_sqft
0      3.08       5803
1      4.62        928
2      6.47       2011
3     77.00       2716
4      3.08       5801