The following lists represent data on restaurants in the San Francisco area.  Typecast them into `Series`.

In [1]:
score = [5, 4, 3, 5, 2, 4, 5]
cuisine = ['Thai', 'Mexican', 'American', 'Mexican', 'American', 'Indian', 'Thai']
takeout = [False, False, False, True, False, True, False]

In [2]:
import numpy as np
import pandas as pd

score = pd.Series(score)
cuisine = pd.Series(cuisine)
takeout = pd.Series(takeout)

Group scores by cuisine, then pull out a sample group to look at.

In [3]:
score_by_cuisine = score.groupby(cuisine)

In [4]:
score_by_cuisine.get_group('Thai')

0    5
6    5
dtype: int64

Find the minimum score for each type of cuisine.

In [5]:
score_by_cuisine.min()

American    2
Indian      4
Mexican     4
Thai        5
dtype: int64

Using a new groupby, find the mean score for takeout orders and non-takeout orders.

In [6]:
score.groupby(takeout).mean()

False    3.8
True     4.5
dtype: float64

Create a table of mean scores, grouped by both cuisine (vertical axis) and takeout (horizontal axis)

In [8]:
score.groupby([cuisine, takeout]).mean().unstack()

          False  True
American    2.5    NaN
Indian      NaN    4.0
Mexican     4.0    5.0
Thai        5.0    NaN